// Forms

.et_pb_contact_left {
  width: 100%;
  float: left;
  p{
  	width: 47%;
  	float: left;
  	margin: 0 3% 3% 0;
  	padding-bottom: 0;
  }
}
.et_pb_contact{
	.et_pb_contact_field_0{
		padding: 0;
	}
}
.submit-button-div{
	text-align: right;
	.clearfix{
		width: 100%;
		padding-top: 15px;
		button{
			width: 50%;
			margin: 0px;
			border-color: $primary-colour;
			color: $primary-colour;
		}
	}
}
div.wpcf7-mail-sent-ok {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

span.wpcf7-not-valid-tip{
	color: $black;
}
div.wpcf7-validation-errors {
  border: 2px solid $jet;
  color: $black;
}
div.wpcf7-mail-sent-ok {
  border: 2px solid $black;
  margin: 10px 0;
  color: $black;
}