// Media Queries
@media all and ( max-width: 1350px ) {
}

@media all and ( max-width: 500px ) {
}

@media all and ( max-width: 1300px ) {
}

@media all and ( max-width: 600px ) {
}

@media all and ( max-width: 1100px ) {
}

@media all and ( max-width: 950px ) {
}

@media all and ( max-width: 1250px ) {
}

@media all and ( max-width: 900px ) {
}

@media all and ( min-width: 981px ) {
}