// Main Menu //

#main-header{
	border-bottom: 1px solid $black;
}

// Secondary Menu //

#top-header{
	#et-info{
		#et-linkedin{
			padding-left: 10px;
			.fa{
				font-size: 14px;
				padding-right: 5px;
			}
		}
	}
}

// Footer //

#footer-widgets{
	.footer-widget{
		.info-wrap{
			.fa{
				font-size: 20px;
				padding-right: 10px;
			}
			a{
				color: $white;
				font-size: 17px;
			}
		}
		form{
			p:last-of-type{
				text-align: right;
			}
		}
		.left.half,
		.right.half{
			width: 49%;
			display: inline-block;
			input{
				width: 100%;
				padding: 10px;
				background-color: #ebebeb;
				border: none;
			}
		}
		.right.half{
			float: right;
		}
		textarea{
			height: 10em;
			width: 100%;
			padding: 10px;
			background-color: #ebebeb;
			border: none;
		}
		input[type="submit"] {
	    width: 40%;
	    border: 2px solid $black;
	    padding: 10px;
	    background-color: transparent;
	    border-radius: 5px;
	    color: $black;
	    font-size: 15px;
		}
		.ajax-loader{
			display: none;
		}
	}
}