/*
 * Page specific styles
 */

#page-intro{
	span{
		color: $primary-colour;
	}
}

 // Home Page //

#homepage-intro-section{
	padding: 0;
	.et_pb_row{
		padding: 0;
		.et_pb_column_0{
			padding: 20px 0;
			background-color: $primary-colour;
		}
		.et_pb_slide_description{
			display: none;
		}
	}
}

.home{
	.et_pb_blog_grid{
		.et_pb_post{
			border: none;
			h2{
				font-size: 25px;
			}
		}
	}
}

// Contact //

.contact-me{
	.entry-content{
		.et_pb_code{
			padding-top: 3em;
			span{
				font-size: 27px;
				line-height: 44px;
				color: $black;
				.fa{
					padding: 10px;
				}
			}
		}
	}
}