// We use these as default colours throughout
$primary-colour:	#F7C3A1;
$secondary-colour: #353535;
// $alert-colour: #f04124;
// $success-colour: #43AC6A;
// $warning-colour: #f08a24;
// $info-colour: #a0d3e8;
// $header-colour: #ACACAC;
$section-colour: #E5E5ED;
$inputs-colour: #E1E1E1;

$white       : #FFFFFF;
$off-white   : #FDFDFB;
$ghost       : #FEFEFE;
$snow        : #F9F9F9;
$luke-warm   : #F6FEFF;
// $vapor       : #F6F6F6;
// $white-smoke : #F5F5F5;
$stone       : #F2F2F2;
// $silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
// $base        : #AAAAAA;
$base        : #ACACAC;
$aluminum    : #999999;
// $jumbo       : #888888;
// $monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
// $tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

@keyframes marquee {
  0%   { text-indent: 137.5em }
  100% { text-indent: -11.5em }
}

.et_pb_tabs{
	.et_pb_tabs_controls li {
	  border-right: none;
	  background-color: $primary-colour;
	  padding: 15px 30px 15px;
	  a{
	    color: $white;
	  }
	  a::after{
	  	content: "\f0da";
	  	font-family: FontAwesome;
	  	padding-left: 10px;
	  }
	}
	li.et_pb_tab_active{
		background-color: $white;
		bottom: 0px;
		a{
			color: $primary-colour !important;
		}
		a::after{
			content: "\f0d7";
			font-family: FontAwesome;
			padding-left: 10px;
		}
	}
	ul.et_pb_tabs_controls {
	    border-bottom: none;
	    background-color: $primary-colour;
	}
	.et_pb_all_tabs{
		.et_pb_tab{
			h2{
				color: $primary-colour;
				font-size: 18px;
				font-weight: 700;
			}
			p{
				font-size: 14px;
				color: #585858;
			}
			span{
				color: $primary-colour;
				font-weight: 700;
			}
			a{
				color: $primary-colour;
			}
		}
	}
}