// Base imports
@import "settings";
@import "navs";
@import "pages";
@import "buttons";
@import "forms";
@import "media-queries";

// REMEMBER TO DISABLE DIVI UPDATES BY CHANGING STYLE.CSS VERSION TO LIKE 9001

// Overrides
.hide{
	display: none !important;
	visibility: hidden !important;
}

/*
 * Main styles
 */