@keyframes marquee {
  0% {
    text-indent: 137.5em; }
  100% {
    text-indent: -11.5em; } }
.et_pb_tabs .et_pb_tabs_controls li {
  border-right: none;
  background-color: #F7C3A1;
  padding: 15px 30px 15px; }
  .et_pb_tabs .et_pb_tabs_controls li a {
    color: #FFFFFF; }
  .et_pb_tabs .et_pb_tabs_controls li a::after {
    content: "\f0da";
    font-family: FontAwesome;
    padding-left: 10px; }
.et_pb_tabs li.et_pb_tab_active {
  background-color: #FFFFFF;
  bottom: 0px; }
  .et_pb_tabs li.et_pb_tab_active a {
    color: #F7C3A1 !important; }
  .et_pb_tabs li.et_pb_tab_active a::after {
    content: "\f0d7";
    font-family: FontAwesome;
    padding-left: 10px; }
.et_pb_tabs ul.et_pb_tabs_controls {
  border-bottom: none;
  background-color: #F7C3A1; }
.et_pb_tabs .et_pb_all_tabs .et_pb_tab h2 {
  color: #F7C3A1;
  font-size: 18px;
  font-weight: 700; }
.et_pb_tabs .et_pb_all_tabs .et_pb_tab p {
  font-size: 14px;
  color: #585858; }
.et_pb_tabs .et_pb_all_tabs .et_pb_tab span {
  color: #F7C3A1;
  font-weight: 700; }
.et_pb_tabs .et_pb_all_tabs .et_pb_tab a {
  color: #F7C3A1; }

#main-header {
  border-bottom: 1px solid #000000; }

#top-header #et-info #et-linkedin {
  padding-left: 10px; }
  #top-header #et-info #et-linkedin .fa {
    font-size: 14px;
    padding-right: 5px; }

#footer-widgets .footer-widget .info-wrap .fa {
  font-size: 20px;
  padding-right: 10px; }
#footer-widgets .footer-widget .info-wrap a {
  color: #FFFFFF;
  font-size: 17px; }
#footer-widgets .footer-widget form p:last-of-type {
  text-align: right; }
#footer-widgets .footer-widget .left.half,
#footer-widgets .footer-widget .right.half {
  width: 49%;
  display: inline-block; }
  #footer-widgets .footer-widget .left.half input,
  #footer-widgets .footer-widget .right.half input {
    width: 100%;
    padding: 10px;
    background-color: #ebebeb;
    border: none; }
#footer-widgets .footer-widget .right.half {
  float: right; }
#footer-widgets .footer-widget textarea {
  height: 10em;
  width: 100%;
  padding: 10px;
  background-color: #ebebeb;
  border: none; }
#footer-widgets .footer-widget input[type="submit"] {
  width: 40%;
  border: 2px solid #000000;
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  color: #000000;
  font-size: 15px; }
#footer-widgets .footer-widget .ajax-loader {
  display: none; }

/*
 * Page specific styles
 */
#page-intro span {
  color: #F7C3A1; }

#homepage-intro-section {
  padding: 0; }
  #homepage-intro-section .et_pb_row {
    padding: 0; }
    #homepage-intro-section .et_pb_row .et_pb_column_0 {
      padding: 20px 0;
      background-color: #F7C3A1; }
    #homepage-intro-section .et_pb_row .et_pb_slide_description {
      display: none; }

.home .et_pb_blog_grid .et_pb_post {
  border: none; }
  .home .et_pb_blog_grid .et_pb_post h2 {
    font-size: 25px; }

.contact-me .entry-content .et_pb_code {
  padding-top: 3em; }
  .contact-me .entry-content .et_pb_code span {
    font-size: 27px;
    line-height: 44px;
    color: #000000; }
    .contact-me .entry-content .et_pb_code span .fa {
      padding: 10px; }

.et_pb_contact_left {
  width: 100%;
  float: left; }
  .et_pb_contact_left p {
    width: 47%;
    float: left;
    margin: 0 3% 3% 0;
    padding-bottom: 0; }

.et_pb_contact .et_pb_contact_field_0 {
  padding: 0; }

.submit-button-div {
  text-align: right; }
  .submit-button-div .clearfix {
    width: 100%;
    padding-top: 15px; }
    .submit-button-div .clearfix button {
      width: 50%;
      margin: 0px;
      border-color: #F7C3A1;
      color: #F7C3A1; }

div.wpcf7-mail-sent-ok {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 18px; }

span.wpcf7-not-valid-tip {
  color: #000000; }

div.wpcf7-validation-errors {
  border: 2px solid #222222;
  color: #000000; }

div.wpcf7-mail-sent-ok {
  border: 2px solid #000000;
  margin: 10px 0;
  color: #000000; }

.hide {
  display: none !important;
  visibility: hidden !important; }

/*
 * Main styles
 */

/*# sourceMappingURL=style.css.map */
